/* Create a webpage with a 16x16 grid of square divs. */
.cell {
    border: 1px solid rgb(121, 118, 118);
    display: flex;
    margin: 0;
    padding: 0;

}

.grid {
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  height: 575px;
  width: 575px;
  background-color: white;
}

/* Styling for the headers */
.main-heading {
    text-align: center;
    margin-bottom: -50px;
}



/* Styling for slider in html */

.slidecontainer {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 20px; 
  }
  
  .slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #c098f5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5b18b2;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6121c9;
    cursor: pointer;
  }
  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 205, 250);
}